---

---

* {
    box-sizing: border-box;
}

.header {
    padding: 30px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
}

.content {
    max-width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.article {
    float: left;
    padding: 15px;
    width: 75%;
    min-height: 300px;
}

.post {
    padding-bottom: 15px;
}

.sidebar {
    float: left;
    padding: 15px;
    width: 25%;
    min-height: 300px;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.pagination {
    text-align: center;
}

ul {
    padding-left: 30px;
}

hr {
    margin-bottom: 30px;
}

.youtube-wrapper {
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

.youtube-wrapper::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .article, .sidebar, .content {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}